.avatar {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .headerTitle{
    text-align:center;
    font-family:Georgia,serif;
    color:#4E443C;
    font-size:16px !important;
    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
  }
 